.add_button {
    position: relative;
    margin: 10px 0 0 20px;
}

.revise_button {
    position: relative;
    margin: 10px 0 0 20px;
}

.page_ {
    position: relative;
    text-align: center;
    top: 80px;
}

.search {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_next{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_num{
    pointer-events: none;
    margin-top: -5px;
    margin-left: 11px;
}