<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Video Stream</title>
</head>
<body>
<canvas id="canvas" width="640" height="480"></canvas>
<script>
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
const videoStreamUrl = '/video/video_feed';

// 使用Web Workers来处理视频帧数据
const worker = new Worker('{% static 'js/videoWorker.js' %}');

function drawFrame(data) {
  worker.postMessage(data);
}

// Web Workers处理视频帧并在主线程中绘制
const workerCallback = (e) => {
  const {frame, width, height} = e.data;
  ctx.drawImage(frame, 0, 0, width, height);
};

worker.onmessage = workerCallback;

async function startVideoStream() {
  try {
    const response = await fetch(videoStreamUrl, {mode: 'cors'});
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    const reader = response.body.getReader();
    while (true) {
      const {done, value} = await reader.read();
      if (done) break;
      drawFrame(value);
    }
  } catch (error) {
    console.error('Error fetching video stream:', error);
  }
}

window.addEventListener('load', startVideoStream);
</script>


</body>
</html>