{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/work_time.css' %}">
{% endblock %}
{% block body %}
    <button type="button" class="btn  btn-success" id="export" style="color: white;position: absolute;
               margin: -2% 0 0 93%;height: 36px;width: 84px;background:  #1964a4;">
        <a href="/statistics/export_excel_time/" style="color: white">导出数据表</a>
    </button>
    <div class="duty_officer" style="color: #0078d7">
        今日值班人员:
    </div>
    <table class="layui-table" style="margin:0 auto; width: 500px;color: white">
        <thead style="background: #0078d7">
        <tr>
            <th class="layui-col-md12" style="text-align: center">今日值班</th>
        </tr>
        </thead>
        <tbody style="background: #173e5d">
        {% for worker in workers %}
            <tr>
                <td style="text-align: center">{{ worker }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}