{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/work_time.css' %}">
{% endblock %}
{% block body %}
    <div class="duty_officer" style="color: #0078d7">
        {{ username }}:
    </div>
    <table class="layui-table" style="margin:0 auto; width: 500px;color: white">
        <thead style="background: #0078d7">
        <tr>
            <th style="text-align: center">值班时间</th>
        </tr>
        </thead>
        <tbody style="background: #173e5d">
        {% for time in work_time %}
            <tr>
                <td style="text-align: center">{{ time.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}